body{
    /*background-color: #ed1c24;*/
    font-family: Arial;
    padding: 10px auto !important;
    text-align: center !important;
}

#game-container{
    background-color: #12bff0;
    position: relative;
    width: 1000px;
    max-width: 1000px;
    min-width: 1000px;
    border: 3px solid #000000;
    margin: 10px auto !important;
}

#game-container div{
    padding: 0;
}

#game-container .col-50 {
    width:50%;
    float: left;
    height: auto;
    position: relative;
}
#game-container .row{
    margin-right:0;
    margin-left: 0;
}

#bg-modal{
    background-color: rgba(75, 240, 18, 0.2);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
}

#instruccion-container{
    background: url(../images/bg-instruccion.png) no-repeat;
    width: 280px;
    height: 220px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left:0;
    right:0;
    top: 50%;
    transform: translate(0%, -25%);
    -webkit-transform: translate(0%, -25%);

    text-align: center;
    font-size: 14px;
    color: #000000;
}

#instruccion-container div{
    margin-top: 103px;
}
#instruccion-container p{
    line-height: 14px;
}
#instruccion-container span{
    font-size: 15px;
    color: #199eb3;
    font-weight: bold;
    cursor: pointer;
}
#signals{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

#diferences-container {
    border: 3px solid #000000;
    padding: 10px;
    background-color: #fff02a;
    color: #000000;
    font-size: 17px;
    width: 175px;
    text-align: center;
    margin-left: 10px;
    position: relative;
    float: left;
}

#diferences-container span {
    color: #12bff0;
    font-weight: bold;
}


#timer-container {
    border: 3px solid #000000;
    padding: 10px;
    background-color: #12bff0;
    color: #000000;
    font-size: 17px;
    width: 175px;
    text-align: center;
    margin: 0px auto 10px auto;
    position: relative;
    float: none;
}

#timer-container span {
    color: #ffffff;
    font-weight: bold;
}

#restart-game {
    border: 3px solid #000000;
    padding: 9px 5px 5px 5px;
    background-color: #86cf37;
    color: #000000;
    font-size: 21px;
    font-weight: bold;
    width: 55px;
    text-align: center;
    margin-right: 10px;
    position: absolute;
    right: 60px;
    top: 0px;
    cursor: pointer;
}
#audio-container {
    border: 3px solid #000000;
    padding: 9px 5px 5px 5px;
    background-color: #86cf37;
    color: #000000;
    font-size: 21px;
    font-weight: bold;
    width: 55px;
    text-align: center;
    margin-right: 10px;
    position: absolute;
    right: 0px;
    top: 0px;
    cursor: pointer;
}

.tool-container{
    padding: 0px auto;
    position: relative;
    width: 1000px;
    max-width: 1000px;
    min-width: 1000px;
    margin: -20px auto 20px auto !important;
}

/* PROMOCION */
.promocion {
    text-align: center;
    color: #000000;
    font-size: 14px;
}
.promocion img{
    display: inline;
}
.promocion p{
    margin-top: 10px;
}
.promocion span{
    color: #ffd500;
}

.border-left-dashed{
    border-left: 2px dashed #ffffff;
}
.border-right-dashed{
    border-right: 2px dashed #ffffff;
    cursor: pointer;
}

/* MEDIA QUERYS */
/*@media screen and (min-width: 992px) {*/
    /*.border-left-dashed{*/
        /*border-left: 2px dashed #ffffff;*/
    /*}*/
    /*.border-right-dashed{*/
        /*border-right: 2px dashed #ffffff;*/
    /*}*/
/*}*/

/*@media screen and (max-width: 991px) {*/
    /*.border-left-dashed{*/
        /*border-top: 2px dashed #ffffff;*/
    /*}*/
    /*.border-right-dashed{*/
        /*border-bottom: 2px dashed #ffffff;*/
    /*}*/
/*}*/