<!doctype html>
<html class="no-js" lang="" ng-app="myApp">
<head>
    <meta charset="utf-8">
    <title>game_find_diference</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->


    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="/bower_components/modernizr/modernizr.js"></script>
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/momentjs/moment.js"></script>
    <script src="/bower_components/humanize-duration/humanize-duration.js"></script>
    <script src="/bower_components/angular-timer/dist/angular-timer.js"></script>
    <!-- endbower -->
    <!-- endbuild -->


    <script type="text/javascript">
        var analyticsPrefix = "AKI/KIMBERLY";
        var _gaq = _gaq || [];
        _gaq.push(["_setAccount", "UA-11808529-11"]);
        _gaq.push(["_trackPageview"]);
        _gaq.push(["_trackEvent"]);
        _gaq.push(["_trackTiming"]);

        (function () {
            var ga = document.createElement("script");
            ga.type = "text/javascript";
            ga.async = true;
            ga.src = ("https:" == document.location.protocol ? "https://ssl" : "http://www") + ".google-analytics.com/ga.js";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(ga, s);
        })();

        // track de pagina
        function trackPage(strAccion) {
            _gaq.push(["_trackPageview", analyticsPrefix + strAccion]);
            setTrackTime(strAccion);
        }

        // track eventos
        function trackEvent(categoria, accion, etiqueta) {
            // tipo: _trackEvent, categories: Videos, actions: Play, labels:
            _gaq.push(['_trackEvent', analyticsPrefix + categoria, analyticsPrefix + accion, analyticsPrefix + etiqueta]);
        }

        // track de tiempo
        var pageAnalytics = 'index';
        var startTimeAnalytics = new Date().getTime();
        var tiempoAnalytics = setTimeout(trackTime, 200);

        function setTrackTime(newPage) {
            clearTimeout(tiempoAnalytics);
            pageAnalytics = analyticsPrefix + newPage;
            startTimeAnalytics = new Date().getTime();
            tiempoAnalytics = setTimeout(trackTime, 200);
        }

        function trackTime(event) {
            var endTimeAnalytics = new Date().getTime();
            var timeSpentAnalytics = endTimeAnalytics - startTimeAnalytics;
            // _gaq.push([‘_trackTiming’, category, variable, time, opt_label, opt_sample]);
            _gaq.push(['_trackTiming', pageAnalytics, 'callback_timeout', timeSpentAnalytics]);
        }

        // track de medio
        jQuery.urlParam = function (name) {
            var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);

            if (results == null) {
                return null;
            }
            else {
                return results[1] || 0;
            }
        };

        var trackMedio = jQuery.urlParam('medio');

        if (String(trackMedio) != '' && String(trackMedio) != 'undefined' && String(trackMedio) != 'null') {
            trackEvent('Ingreso ' + trackMedio, 'medio', trackMedio);
            trackPage(trackMedio);
        }
        //FIN DEL CODIGO ANALITICS
    </script>
</head>
<body onload="trackPage('carga-pagina');">
<!--[if lt IE 10]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<div ng-controller="MainController">
    <div id="game-container">
        <div id="level1" class="row" ng-show="currentLevel == 1">
            <div class="col-50 border-right-dashed" ng-mouseenter="onMouseEnter()" ng-mouseleave="onMouseleave()">
                <img src="images/level1.png" usemap="#Map" style="width: 100%;"/>
                <map name="Map">
                    <area shape="rect" coords="41,83,130,103" ng-click="savePoint(1)">
                    <area shape="poly" coords="423,347,409,347,408,358,480,359,480,348,466,347,465,331,424,331"
                          ng-click="savePoint(2)">
                    <area shape="rect" coords="195,154,223,169" ng-click="savePoint(3)">
                    <area shape="rect" coords="404,311,440,329" ng-click="savePoint(4)">
                    <area shape="poly"
                          coords="336,97,349,106,352,126,385,130,410,134,427,125,449,131,463,127,487,129,497,109,489,91,472,87,462,78,456,50,433,40,411,50,389,51,373,68,350,74"
                          ng-click="savePoint(5)">
                </map>
            </div>
            <div class="col-50 border-left-dashed">
                <img src="images/level1d.png" style="width: 100%"/>
            </div>
        </div>
        <div id="level2" class="row" ng-show="currentLevel == 2">
            <div class="col-50 border-right-dashed" ng-mousemove="onMouseMove()" ng-mouseenter="onMouseEnter()"
                 ng-mouseleave="onMouseleave()">
                <img src="images/level2.png" usemap="#Map2" style="width: 100%;"/>
                <map name="Map2">
                    <area shape="rect" coords="126,278,144,290" ng-click="savePoint(1)">
                    <area shape="rect" coords="281,348,304,381" ng-click="savePoint(2)">
                    <area shape="rect" coords="154,159,171,176" ng-click="savePoint(3)">
                    <area shape="rect" coords="401,47,434,79" ng-click="savePoint(4)">
                    <area shape="rect" coords="295,277,321,292" ng-click="savePoint(5)">
                </map>
            </div>
            <div class="col-50  border-left-dashed">
                <img src="images/level2d.png" style="width: 100%"/>
            </div>
        </div>
        <div id="level3" class="row" ng-show="currentLevel == 3">
            <div class="col-50 border-right-dashed" ng-mousemove="onMouseMove()" ng-mouseenter="onMouseEnter()"
                 ng-mouseleave="onMouseleave()">
                <img src="images/level3.png" usemap="#Map3" style="width: 100%;"/>
                <map name="Map3">
                    <area shape="rect" coords="246,155,259,183" ng-click="savePoint(1)">
                    <area shape="rect" coords="3,308,34,346" ng-click="savePoint(2)">
                    <area shape="rect" coords="176,251,214,268" ng-click="savePoint(3)">
                    <area shape="poly" coords="2,54,18,46,18,31,2,23" ng-click="savePoint(4)">
                    <area shape="poly" coords="434,177,427,200,436,201,437,212,450,212,450,201,461,201,455,176,444,161"
                          ng-click="savePoint(5)">
                </map>
            </div>
            <div class="col-50  border-left-dashed">
                <img src="images/level3d.png" style="width: 100%"/>
            </div>
        </div>

        <img id="cursorCopy" src="images/cursor-copy.png" ng-show="showCursorCopy" style="position: absolute;">

        <div id="bg-modal" ng-show="pauseGame">
            <div id="instruccion-container">
                <div id="instruccion1" ng-show="!startedGame">
                    <p>Encuentra las <span style="color: #eb212e;font-size: 22px">5</span> diferencias<br>
                        haciendo <strong>clic</strong> sobre ellas en la<br>
                        <strong>imagen izquierda</strong> y entérate de <br>
                        <span style="color: #eb212e;font-size: 14px;">nuestros descuentos</span></p>
                    <span ng-click="startGame()">JUGAR AHORA</span>
                </div>
                <div id="instruccion2" ng-show="showNextLevelMsg">
                    <p>Encontraste las 5 diferencias,<br>
                        prueba que tan bueno eres en el<br>
                        próximo nivel
                    </p>
                    <span ng-click="nextLevel()">SIGUIENTE</span>
                </div>
                <div id="instruccion3" ng-show="finishedGame">
                    <p>Tú tiempo de juego es de<br>
                        <strong>{{finalTime}}</strong>
                    </p>
                    <span ng-click="startGame()">JUGAR DE NUEVO</span>
                </div>
            </div>
        </div>
    </div>

    <div class="tool-container" ng-show="startedGame">
        <div id="diferences-container">
            Diferencias: <span>{{points.length}} / 5</span>
        </div>
        <div id="timer-container">
            Tiempo: <span id="show-time">
            <timer interval="1000">{{hhours}}:{{mminutes}}:{{sseconds}}</timer>
          </span>
        </div>
        <div id="restart-game" ng-click="startGame()">
            <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
        </div>
        <div id="audio-container" ng-click="toggleAudio()">
            <span ng-class="audioClass" aria-hidden="true"></span>
        </div>
    </div>

    <div class="promocion" class="text-center">
        <img src="images/promocion.png" class="img-responsive">

        <p>
            Promoción válida del 23 de julio al 12 de agosto de 2015. Aplica para productos seleccionados.<br/>
            <span>Ver términos y condiciones aquí.</span> Descuento calculado en base al precio de venta Akí.
        </p>
    </div>
</div>

<!-- build:js(.) scripts/plugins.js -->
<script src="/bower_components/bootstrap/js/affix.js"></script>
<script src="/bower_components/bootstrap/js/alert.js"></script>
<script src="/bower_components/bootstrap/js/dropdown.js"></script>
<script src="/bower_components/bootstrap/js/tooltip.js"></script>
<script src="/bower_components/bootstrap/js/modal.js"></script>
<script src="/bower_components/bootstrap/js/transition.js"></script>
<script src="/bower_components/bootstrap/js/button.js"></script>
<script src="/bower_components/bootstrap/js/popover.js"></script>
<script src="/bower_components/bootstrap/js/carousel.js"></script>
<script src="/bower_components/bootstrap/js/scrollspy.js"></script>
<script src="/bower_components/bootstrap/js/collapse.js"></script>
<script src="/bower_components/bootstrap/js/tab.js"></script>
<!-- endbuild -->


<!-- build:js scripts/main.js -->
<script src="scripts/main.js"></script>
<!-- endbuild -->

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
<script>
    (function (b, o, i, l, e, r) {
        b.GoogleAnalyticsObject = l;
        b[l] || (b[l] =
                function () {
                    (b[l].q = b[l].q || []).push(arguments)
                });
        b[l].l = +new Date;
        e = o.createElement(i);
        r = o.getElementsByTagName(i)[0];
        e.src = 'https://www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e, r)
    }(window, document, 'script', 'ga'));
    ga('create', 'UA-XXXXX-X');
    ga('send', 'pageview');
</script>
</body>
</html>
